
/*---底部----*/
.footer {
	width: 100%;
	min-width: 1200px;
}
/*底部内容容器*/
.footer-box {
	width: 1210px;
	height: 100%;
	margin: 0 auto;
}
/*上*/
.foot-up {
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid #E1E1E1;
}
.upbox {
	box-sizing: border-box;
	padding-left: 10px;
	width: 1200px;
	height: 100%;
	padding: 20px 0;
	overflow: hidden;
	margin: 0 auto;
}
.upbox li{
	width: 240px;
	float: left;
}
.up-div {
	padding: 0 30px;
}
.up-img {
  float: left;
  width: 45px;
  height: 58px;
  background: url(../img/HomePageImgA/ico_service.png) no-repeat 0 0;
  background-size: 100%;
  margin-right: 10px;
}
.upbg1 {background-position: 0 3px;}
.upbg2 {background-position: 0 -57px;}
.upbg3 {background-position: 0 -119px;}
.upbg4 {background-position: 0 -179px;}
.upbg5 {background-position: 0 -240px;}

.up-txt {
  float: left;
  line-height: 1.5;
}
.txt-p1 {font-size: 22px;line-height: 34px;font-weight: bold; color: #494949;}
.txt-p2 {font-size: 14px;color: #9c9c9c; line-height: 24px;}
.txt-num {font-size: 16px;}

/*中*/
.foot-mid {
  width: 880px;
  height: 185px;
  margin: 0 auto;
}
.foot-mid a {
  color: #666;
}
.foot-mid a:hover {
  color: #D21E2F;
}
.foot-mid dl {
  float: left;
  width: 176px;
  text-align: center;
}
.foot-mid dt {
  padding: 27px 0 20px;
  font-size: 16px;
  color: #333;
}
.foot-mid dd {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 14px;
}
.foot-mid dl.margin-none,
.foot-up div.margin-none {
  margin-right: 0;
}
/*下*/
.foot-down {
  width: 886px;
  margin: 0 auto;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.down-p1 {
	padding: 20px 0;
  line-height: 1.5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.foot-down a {color: #666;}
.foot-down a:hover {color: #D21E2F;}
/*更多*/
.foot-more {
  display: inline-block;
  margin-left: 10px;
}
.down-p2 {margin: 20px 0;}
/*二维码*/
.foot-dd {position: relative;}
.foot-dd img {
  position: absolute;
  top: 8px;
  left: 125px;
  width: 100px;
  height: 100px;
  display: none;
}