.titleBox{
	margin-left: 270px;
}
.headTitle{
	float: left;
	font-size: 24px;
	margin-top: 58px;
	color: #666;
}
.order-flow{
	float: right;
	margin-top: 45px;
}
.order-flow li{
	float: left;
}
.order-flow-one {
    float: left;
    width: 70px;
    text-align: center;
}
.order-flow-number {
    margin: 0px auto;
    width: 24px;
    height: 24px;
    border-radius:100%;
    text-align: center;
    line-height: 24px;
    background-color: #dadada;
    color: white;
    font-size: 14px;
    font-weight: bolder;
}
.order-flow-describe {
    margin-top: 10px;
    font: 14px "微软雅黑";
    color: #666;
}
.order-flow-border {
    margin-top: 10px;
    margin-left: -23px;
    margin-right: -23px;
    width: 86px;
    height: 3px;
    background-color: #dadada;
}
.order-orderDesc{
	margin-top: 25px;
}
.order-addrWrap>h2,.order-orderDesc>h2,.Coupon>h2,.order-bill>h2{
	font-size: 18px;
	font-weight: normal;
	color: #666;
	padding: 15px 0;
}

.add-addr-ul li{
	float: left;
	width: 260px;
	margin-right: 40px;
	margin-bottom: 20px;
}
.add-addr-ul li .addr-border{
	border: 2px solid #f1c8d5;
	height: 138px;
	cursor: pointer;
}
.add-addr-ul li .add-new-addr{
	line-height: 138px;
	font-size: 18px;
	color: #666;
	text-align: center;
	cursor: pointer;
}
.add-addr-ul .addr-handle{
	margin-top: 10px;
}
.add-addr-ul .addr-handle a{
	color:#666;
	font-size: 14px;
	/*margin-right: 15px;
	margin-left: 8px;*/
	padding: 0 10px;
}
.addr-handle a:hover{
	text-decoration: underline;
}
.add-addr-ul li.selected-addr .addr-border{
	border: 2px solid #FE317B;
	background: url(../img/CommoditySettlement/gou.png) no-repeat right bottom;
}

.add-addr-ul .order-name{
	margin: 0 12px;
	border-bottom: 1px dotted #ccc;
	padding: 10px 0;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	position: relative;
}
 .add-addr-ul .order-name span{
	position: absolute;
	top: 10px;
	right: 0px;
	display: inline-block;
	padding: 3px 12px;
	font-size: 12px;
	color: #fff;
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FF4F5A,endcolorstr=#FF317B,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FF4F5A,endcolorstr=#FF317B,gradientType=0);	
    background:#FF317B;
    background:-moz-linear-gradient(left top, right bottom, #FF4F5A, #FF317B);  
    background:-webkit-gradient(linear, left top, right bottom, from(#FF4F5A), to(#FF317B));  
    background:-o-linear-gradient(left top, right bottom, #FF4F5A, #FF317B); 
	border-radius: 20px;
	font-weight: normal;
}
.add-addr-ul .order-adress{
	margin: 12px 12px;
	font-size: 13px;
	line-height: 20px;
	color: #666;
}
.order-phone{
	margin: 0 12px;
	font-size: 16px;
	color: #666;
}
.DPmask{
	position: fixed;
    z-index: 99;
    background: #333;
    filter: alpha(opacity=60);
    opacity: .6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.tc-popup {
    position: fixed;
    z-index: 100;
    border: 10px solid #b4b4b4;
    background: #fff;
   	overflow-x: hidden;
    width: 600px;
    height: 420px;
   	top: 0;
   	left: 0;
   	bottom: 0;
   	right: 0;
   	margin: auto;
}
.tc-popup .tc-popup-header {
    background: #e6e6e6;
    border-bottom: 1px solid #d9d9d9;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
}
.tc-popup .tc-popup-close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    right: 8px;
    background: url(../img/CommoditySettlement/tc-close.png) no-repeat 0px 0px;
}
.tc-popup .tc-popup-close:hover {
    background-position: -16px 0px;
}
.tc-popup-content{
	padding-top: 20px;
}
.tc-popup-content .item {
    display: inline-block;
    display: block;
   	padding: 5px 0;
}
.tc-popup-content .item span.label {
    float: left;
    padding: 6px 10px 4px;
    width: 90px;
    text-align: left;
   	line-height: normal;
}
.tc-popup-content .label em {
    color: #e4393c;
    margin: 0 5px;
}
.tc-popup-content .area, .tc-popup-content .itxt, .tc-popup-content .selt {
    line-height: 18px;
    border: 1px solid #ccc;
    padding: 5px;
    vertical-align: middle;
    float: none;
}
.tc-popup-content .itxt {
    height: 18px;
    width: 225px;
    padding: 3px 5px 3px 10px;
    outline: 0;
}
.city-picker-span{
	width: 240px !important;
}
.fl{
	float: left;
}
.mt10{
	margin-top: 10px;
}
.ftx-03{
	line-height: 26px;
	color: #999;
}
	
.save_Consignee {
    font-family: arial,"Microsoft YaHei";
    display: inline-block;
    height: 24px;
    line-height: 24px;
    background-color: #e74649;
    background-image: -moz-linear-gradient(top,#e74649,#df3134);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e74649),color-stop(1,#df3134));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74649', endColorstr='#df3134', GradientType='0');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74649', endColorstr='#df3134');
    background-image: linear-gradient(to top,#e74649 0,#df3134 100%);
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 15px;
    cursor: pointer;
    border: 0;
    float: none;
}
.save_Consignee:hover{
    color: #fff;
    text-decoration: none;
    background-color: #f05356;
    background-image: -moz-linear-gradient(top,#f05356,#eb3c3f);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f05356),color-stop(1,#eb3c3f));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05356', endColorstr='#eb3c3f', GradientType='0');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05356', endColorstr='#eb3c3f');
    background-image: linear-gradient(to top,#f05356 0,#eb3c3f 100%);
}

.buy-th{
	background: #f7f7f7;
	line-height: 40px;
	border: 1px solid #EEEEEE;
	padding: 0 15px;
}
.buy-th .buy-td{
	float: left;
	font-size: 14px;
	color: #666;
}
.buy-th .td-0{
	width: 456px;
}
.buy-th .td-1{
	width: 160px;
	text-align: center;
}
.buy-th .td-2{
	width: 360px;
	text-align: center;
}
.buy-th .td-3{
	width: 190px;
	text-align: center;
}
.order-item .td{
	float: left;
	/*line-height: 50px;*/
}
.order-item .td-0{
	width: 456px;
}
.order-item .td-1{
	width: 160px;
	text-align: center;
}
.order-item .td-2{
	width: 360px;
	text-align: center;
}
.order-item .td-3{
	width: 190px;
	text-align: center;
}
.order-orderInfo{
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 20px;
}
.order-orderInfo .order-item{
	border-bottom: 1px dashed #EEEEEE;
	margin: 0 15px;
	padding: 15px 0;
}
.p-img,.goods-msg{
	float: left;
}
.p-img img{
	width: 100px;
	height: 100px;
}
.goods-msg{
	width: 320px;
	margin-left: 15px;
}
.goods-msg .p-name{
	font-size: 13px;
	color: #666;
	height: 48px;
	line-height: 24px;
	overflow: hidden;
}
.goods-msg .p-type{
	color: #999;
	font-size: 14px;
	margin-top: 15px;
}
.goods-msg .p-type span{
	margin-right: 20px;
}
.p-unitprice{
	line-height: 100px;
	height: 100px;
	color: #ff0036;
	font-size: 16px;
	overflow: hidden;
	font-weight: bold;
}
.p-num{
	line-height: 100px;
	font-size: 16px;
	color: #666;
}
.p-subtotal{
	line-height: 100px;
	height: 100px;
	color: #ff0036;
	font-size: 16px;
	overflow: hidden;
	font-weight: bold;
}
.p-total{
	float: right;
    font-size: 14px;
    overflow: hidden;
    margin-top: 5px;
    color: #666;
}
.p-total i{
	color: #ff0036;
	font-weight: bold;
	font-size: 16px;
}
.add-message{
	float: left;
}
.order-message{
	padding: 25px 30px;
}
.add-message input{
	height:24px;
    width: 460px;
    padding: 3px 5px 3px 10px;
    outline: 0;
    line-height: 24px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    float: left;
}
.order-message span{
	font-size: 14px;
	color: #666;
	display: inline-block;
	padding: 5px 0 3px;
	float: left;
}
/*---使用现金券----*/

.Coupon{
	font-size: 12px;
	overflow: hidden;
	color: #464646;
	-webkit-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}
.Coupon .MB-sel {
	overflow: hidden;
}
.Coupon .dl {
	zoom: 1;
	position: relative;
	height: 80px;
	overflow: hidden;
	padding-right: 85px;
}
.Coupon .dl:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden
}
.Coupon .coupon-item{
	position: relative;
	float: left;
	margin-right: 25px;
	margin-bottom: 10px;
	font-size: 14px;
	width: 246px;
	border: 2px solid #D2D2D2;
	padding: 10px 0;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
    user-select: none;
    outline: none;
    height: 56px;
}
.Coupon .coupon-item:hover{
	/*border: 2px dashed #ff0036;*/
}
.coupon-item .c-mesg .c-price{
	display: inline-block;
	float: left;
	color: #666;
	font-weight: bold;
	font-size: 18px;
	margin-left: 30px;
}
.coupon-item .c-mesg .c-limit{
	display: inline-block;
	float: right;
	margin-right: 30px;
	border-radius: 20px;
	padding: 1px 15px;
	border: 1px solid #D2D2D2;
	color: #666;
}
.coupon-item .c-type{
	padding-left: 30px;
	margin-top: 10px;
	color: #666;
	font-size: 16px;
}
.Coupon .s-sub {
	font-size: 12px;
	color: #a2a2a2;
	padding-left: 8px;
}
.Coupon .sel-more {
	position: absolute;
	top: 30px;
	right: 0;
	display: inline-block;
	padding-right: 30px;
	cursor: pointer;
	font-size: 14px;
	color: #999;
	display: none;
}
.Coupon .sel-more:hover{
	color: #ff0036;
}
.Coupon .sel-more .sel-sub {
	position: absolute;
	top: 5px;
	right: 14px;
	font-size: 12px;
}
.Coupon .sel-more .sel-sup {
	position: absolute;
	top: 0px;
	right: 14px;
	font-size: 12px;
}
.Coupon .sel-more i{
	font-family: simsun;
}
.Coupon .sel-sup{display: none;}
.Coupon a.selCop_item{
	border: 2px solid #FE317B;
}
.selCop_item .selCop_icon{
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 38px;
	height: 31px;
	background: url(../img/CommoditySettlement/gou.png) no-repeat;
}
/*选中状态添加此类名selCop_item*/
.coupon-item.selCop_item .c-mesg .c-limit{
	display: none;
}
.coupon-item.selCop_item .c-mesg .c-price{
	color: #ff0036;
}
.coupon-item.selCop_item .c-type{
	color: #ff0036;
}
/*不可使用状态添加此类名unable_item*/
.coupon-item.unable_item{
	border: 2px dashed #E4E4E4;
	cursor:no-drop !important;
}
.coupon-item.unable_item .c-mesg .c-limit{
	color: #999;
}
.coupon-item.unable_item .c-mesg .c-price{
	color: #999;
}
.coupon-item.unable_item .c-type{
	color: #999;
}
/*开发票*/
.order-bill-yesno a{
	position: relative;
	float: left;
    margin-right: 25px;
    font-size: 18px;
    width: 246px;
   	border: 2px solid #D2D2D2;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    line-height: 76px;
    text-align: center;
    color: #666;
}
.order-bill-yesno a.order-billSelect{
	border: 2px solid #FE317B;
	color: #ff0036;
}
.order-bill-yesno a.order-billSelect .selCop_icon {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 38px;
    height: 31px;
    background: url(../img/CommoditySettlement/gou.png) no-repeat;
}
.order-total-info{
	padding: 50px 0;
}
.order-total-list-l,.order-total-list-r{
	float: right;
	text-align: right;
	font-size: 14px;
	color: #666;
	line-height: 28px;
	overflow: hidden;
}
.order-total-list-l{
	width: 400px;
}
.order-total-list-r{
	width: 400px;
}
.amountTotal,.amountPayable{
	color: #ff0036;
	font-weight: bold;
}
.orderName,.orderPhone{
	margin-left: 30px;
}
.solidborder{
	height: 1px;
	background: #E1E1E1;
	margin: 10px 0;
}
.order-total-submit {
    float: right;
    height: 42px;
    line-height: 42px;
    width: 180px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FF4F5A,endcolorstr=#FF317B,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FF4F5A,endcolorstr=#FF317B,gradientType=0);	
    background:#FF317B;
    background:-moz-linear-gradient(left top, right bottom, #FF4F5A, #FF317B);  
    background:-webkit-gradient(linear, left top, right bottom, from(#FF4F5A), to(#FF317B));  
    background:-o-linear-gradient(left top, right bottom, #FF4F5A, #FF317B); 
}
.order-total-submit:hover{
	opacity: 0.9;
	color: #fff;
}
/*发票信息*/
.tc-fp {
}
.tc-fp .tc-fp-header {
    background: #e6e6e6;
    border-bottom: 1px solid #d9d9d9;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
}
.tc-fp .tc-fp-close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    right: 8px;
    background: url(../img/CommoditySettlement/tc-close.png) no-repeat 0px 0px;
}
.tc-fp .tc-fp-close:hover {
    background-position: -16px 0px;
}
.tc-fp-content{
	padding-top: 20px;
}

/**开发票框**/

.invoice {
	box-sizing: border-box;
	width: 630px;
	height: 600px;
	border: 10px solid #b4b4b4;
	position: absolute;
	display: none;
	background-color: white;
	z-index: 63;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 9999;
}

.invoice-top {
	box-sizing: border-box;
	width: 628px;
	height: 33px;
	font: 14px simsun;
	background-color: #EEEEEE;
	line-height: 33px;
	text-indent: 13px;
}

.invoice-but {
	width: 558px;
	margin: 10px auto 0px auto;
	height:32px;
}

.invoice-normal,
.invoice-addedvalue {
	float: left;
	box-sizing: border-box;
	width: 98px;
	height: 32px;
	font: 12px simsun;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}

.invoice-normal {
	border: 1px solid #D7000F;
}

.invoice-addedvalue {
	margin-left: 12px;
	border: 1px solid #CCCCCC;
}


/**普通发票的三角形图片**/

.normal-chose-img {
	float: left;
	margin-top: 10px;
	margin-left: -22px;
}


/**增值发票的三角形图片**/

.addedvalue-chose-img {
	float: left;
	margin-top: 10px;
	margin-left: -22px;
	display: none;
}


/**个人的三角形图片**/

.personage-chose-img {
	float: left;
	margin-top: 12px;
	margin-left: -22px;
}


/**明细的三角形图片**/

.detail-chose-img {
	float: left;
	margin-top: 10px;
	margin-left: -22px;
}


/**新增的三角形图片**/

.invoice-news-chose-img {
	float: left;
	margin-top: 26px;
	margin-left: -22px;
	display: none;
}

.invoice-warn {
	height: 32px;
	background-color: #F7CFD2;
	margin-top: 10px;
}
.mar{
	width: 558px;
	margin: 10px auto 0;
}

.invoice-warn-icon {
	float: left;
	width: 16px;
	height: 14px;
	font: 12px simsun;
	color: white;
	background-image: url(../img/CommoditySettlement/warning.png);
	text-align: center;
	line-height: 14px;
	margin-left: 5px;
	margin-top: 8px;
}

.invoice-warn-f {
	float: left;
	font: 12px simsun;
	line-height: 32px;
	margin-left: 6px;
}

.invoice-chose {
	margin-top: 10px;
}

.invoice-chose2 {
	margin-top: 25px;
}

.invoice-chose-f {
	float: left;
	font: 12px simsun;
	height: 34px;
	line-height: 34px;
	margin-left: 60px;
}

.invoice-chose-b {
	float: left;
	box-sizing: border-box;
	width: 340px;
	height: 34px;
	font: 12px simsun;
	text-indent: 8px;
	line-height: 32px;
	border: 1px solid #D7000F;
	cursor: pointer;
}

.detail-chose-b {
	float: left;
	box-sizing: border-box;
	width: 64px;
	height: 32px;
	font: 12px simsun;
	text-align: center;
	line-height: 32px;
	border: 1px solid #D7000F;
	cursor: pointer;
}

.invoice-add-font {
	margin-top: 10px;
	margin-left: 120px;
	color: #D7000F;
	cursor: pointer;
}

.invoice-news-chose {
	float: left;
	box-sizing: border-box;
	width: 340px;
	height: 34px;
	font: 12px simsun;
	text-indent: 8px;
	line-height: 34px;
	border: 1px solid #D7000F;
	cursor: pointer;
	display: none;
	margin-left: 121px;
	margin-top: 13px;
}

.invoice-news-input {
	box-sizing: border-box;
	width: 258px;
	height: 20px;
}

.invoice-news-chose-font {
	float: left;
	font: 12px simsun;
	width: 253px;
	height: 34px;
	line-height: 34px;
	display: none;
}

.invoice-news-chose-save {
	float: right;
	box-sizing: border-box;
	margin-right: 13px;
	font: 12px simsun;
	color: #D7000F;
	cursor: pointer;
	height: 34px;
	line-height: 32px;
}

.invoice-news-chose-edit {
	float: left;
	box-sizing: border-box;
	font: 12px simsun;
	color: #D7000F;
	cursor: pointer;
	height: 34px;
	line-height: 32px;
	display: none;
}

.invoice-news-chose-remove {
	float: left;
	box-sizing: border-box;
	font: 12px simsun;
	color: #D7000F;
	cursor: pointer;
	height: 34px;
	line-height: 32px;
	display: none;
	margin-left: 10px;
}

.normal-save {
	width: 54px;
	height: 25px;
	font: 12px simsun;
	color: white;
	text-align: center;
	line-height: 25px;
	background-color: #DD2828;
	float: left;
	margin-top: 34px;
	margin-left: 120px;
	cursor: pointer;
}

.normal-cancel {
	width: 54px;
	height: 25px;
	font: 12px simsun;
	text-align: center;
	line-height: 25px;
	background-color: #F1EFEF;
	float: left;
	margin-top: 34px;
	margin-left: 10px;
	cursor: pointer;
}
.addedvalue-confirm{
	width: 130px;
	height: 30px;
	font: 12px simsun;
	color: white;
	text-align: center;
	line-height: 30px;
	background-color: #DD2828;
	float: left;
	margin-top: 34px;
	cursor: pointer;
	margin-left:10%;
}
/**新增收货人信息**/

.addnews-message {
	width: 680px;
	height: 380px;
	background-color: white;
	border: 1px solid #EDEDED;
	position: absolute;
	display: none;
}

.addnews-message-top {
	height: 33px;
	background-color: #EEEEEE;
	font: 14px simsun;
	text-indent: 14px;
	line-height: 33px;
}

.message-li {
	margin-top: 18px;
}

.message-font {
	float: left;
	width: 100px;
	font: 12px simsun;
	line-height: 24px;
	;
	text-align: right;
}

.message-font label {
	color: #D7000F;
}

.message-input {
	float: left;
	margin-left: 10px;
}

.message-input input {
	box-sizing: border-box;
	height: 24px;
	width: 168px;
	outline: none;
}

.message-select {
	float: left;
	margin-left: 10px;
}

.message-select select {
	width: 78px;
	height: 25px;
	font: 12px simsun;
	outline: none;
}

.message-mail-font {
	font: 12px simsun;
	text-indent: 90px;
	margin-top: 2px;
}

.message-input-addr {
	float: left;
	margin-left: 10px;
}

.message-input-addr input {
	box-sizing: border-box;
	height: 24px;
	width: 257px;
	outline: none;
}

.message-addr-font {
	float: left;
	font: 12px simsun;
	line-height: 24px;
	margin-left: 14px;
}

.invoice_message{
	display: none;
}
.invoice_message span{
	float: right;
}

.message-addr {
	float: left;
	font: 12px simsun;
	line-height: 24px;
	margin-left: 9px;
	border: 1px solid #CCCCCC;
	padding: 0px 10px;
	cursor: pointer;
}
#addAddress{
	float: left;
	box-sizing: border-box;
	height: 24px;
	width: 114px;
	font: 12px simsun;
	text-align: center;
	line-height: 24px;
	background-color: #F1EFEF;
	border: 1px solid #D7000F;
	margin-left: 90px;
}
.message-save {
	float: left;
	box-sizing: border-box;
	height: 24px;
	width: 114px;
	font: 12px simsun;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	background-color: #F1EFEF;
	border: 1px solid #D7000F;
	margin-left: 90px;
}
.message-close{
	float: left;
	box-sizing: border-box;
	height: 24px;
	width: 50px;
	font: 12px simsun;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	background-color: #F1EFEF;
	border: 1px solid #D7000F;
	margin-left: 20px;
}
.bor{
	border:1px dashed #303030;
	width:100px;
	height:30px;
	display:table-cell;
	font-size:12px;
	vertical-align:middle;
	text-align:center
}

.bor-gray{
	border:1px dashed #DCDCDC;
	width:100px;
	height:30px;
	display:table-cell;
	font-size:12px;
	color: #DCDCDC;
	vertical-align:middle;
	text-align:center
}
