body{
	font-family: "microsoft yahei";
}
/*顶部模块*/
#shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #F5F5F5;
}
#shortcut .w{
	height: 30px;
	line-height: 30px;
}
.w {
    margin: auto;
    width: 1200px;
}
.w-fl{
	float: left;
}
.w-fl li{
	float: left;
	font-size: 14px;
	color: #5b5b5b;
}
.w-fl li a{
	display: block;
	color: #5b5b5b;
}
.w-fl li i{
	background: url(../img/public/sprite.png) no-repeat;
}
.w-fl li:nth-child(1) a{
	width: 130px;
	padding-left: 25px;
	position: relative;
}
.w-fl li:nth-child(1) a i{
	position: absolute;
    left: 0;
    top: 7px;
    display: inline-block;
	height:16px;
	width:17px;
	background-position:0 -95px;
}
.w-fl li:nth-child(2){
	padding-left: 25px;
	position: relative;
}
.w-fl li:nth-child(2) i{
	position: absolute;
    left: 0;
    top: 7px;
    display: inline-block;
	/*background: url(../img/productList/sprite.png) no-repeat;*/
	height:15px;
	width:13px;
	background-position:0 -50px;
}
.w-fr{
	float: right;
}
.w-fr li{
	float: left;
	font-size: 14px;
	color: #5b5b5b;
}
.fore1{
	padding-left: 30px;
}
.fore1 a{
	color: #5b5b5b;
	cursor: pointer;
}
.fore2{
	margin-left: 30px;
}
.fore2 a{
	color: #ff0036;
	cursor: pointer;
}
.fore2 a:hover{
	text-decoration: underline;
}
.fore3{
	margin-left: 30px;
	padding-right: 18px;
	background: url(../img/public/a-down.png) no-repeat right center;
}
.fore3:hover{
	cursor: pointer;
}
.fore4{
	margin: 0 15px;
}
.fore5 a{
	color: #5b5b5b;
}
.fore6{
	margin-left: 20px;
}
.fore6 a{
	color: #ff0036;
	cursor: pointer;
}
.DP_group{
	position: relative;
}
.DP_group_list {
  position: absolute;
  top: 30px;
  left: -25px;
  width: 102px;
  text-align: center;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 0px 4px #888;
  display: none;
}
.DP_group_list .Trangle {
  position: absolute;
  top: -14px;
  left: 47px;
  width: 0;
  height: 0;
  border-width: 7px 5px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
}
.DP_group_list span {
  display: block;
}
.DP_group_list span:hover {
  background-color: #a2a2a2;
}
.DP_group_list span:hover a {
  color: #fff;
}
.DP_group_list span a {
  color: #333333;
}
/*头部搜索框模块*/
#header .w{
	position: relative;
    z-index: 11;
    height: 155px;
}
#logo {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 36px;
}
.logo_tit_lk {
	display: block;
}
#half_price {
    position: absolute;
    z-index: 2;
    left: 248px;
    top: 34px;
}
.top_search{
	position: relative;
}
.top_search .search-m {
    position: absolute;
    z-index: 1;
    left: 470px;
    top: 44px;
}
.search-m .form {
    width: 500px;
    height: 39px;
}
.search-m .text {
	position: absolute;
    left: 0;
    padding: 5px;
    width: 408px;
    height: 26px;
    border: 2px solid #ff0036;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
}
.search-m .button {
	position: absolute;
    right: 0;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: none;
    background-color: #ff0036;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    font-size: 15px;
}
.search-m .button:hover{
	background: #F00334;
}
.search-m .button, .search-m .text {
    position: absolute;
    top: 0;
    outline: none;
}
#hotwords {
    overflow: hidden;
    position: absolute;
    left: 472px;
    top: 90px;
    width: 500px;
    height: 20px;
    line-height: 20px;
}
#hotwords a{
	margin-right: 15px;
	color: #666;
	cursor: pointer;
}
#hotwords a:hover{
	color: #F06D23;

}
#Dcart{
	position: absolute;
	top: 44px;
	right: 0px;
	/*width: 169px;*/
	/*height: 75px;*/
	width: 188px;
	height: 38px;
	border: 1px solid #e2e2e2;
	background: #f7f7f7;
	z-index: 5;
}
#Dcart a{
	display: block;
	line-height: 38px;
	padding-left: 70px;
	background: url(../img/public/cart_ico.png) no-repeat 25px center;
	color: #ff0036;
	font-size: 16px;
}
/*横向主菜单*/
#main-nav{
	border-bottom: 2px solid #FF0036;
	/*background: #FC382C;*/
}
.main-nav{
	width: 1200px;
	margin: 0 auto;
}
.main-nav-inner{
	margin-left: 220px;
	overflow: hidden;
	position: relative;
}
.main-nav-inner a{
	float: left;
	display: block;
	padding: 0 25px;
	height: 40px;
    line-height: 40px;
	margin:0 5px;
	font-size: 16px;
	color: #666;
}
.main-nav-inner a:hover{
	color: #ff0036;
}
.main-nav-inner a.zstq{
	position: absolute;
	top: -4px ;
	right: -6px;
	margin: 0;
	padding: 0;
	z-index: 99;
}
/*.main-nav-inner a:hover{
	color: #FF0036;
}*/
/*侧栏分类菜单*/
.tab-content{
	display: none;
	z-index: 99;
}
.category-con .category-inner-con {
    width: 1200px;
    position: relative;
    height: 0;
    z-index: 100;
    margin: 0 auto;
}
.category-con .category-type {
    width: 220px;
    float: left;
    color: #fff;
    background-color: #ff0036;
    position: absolute;
    z-index: 100;
    margin-top: -40px;
    height: 40px;
    line-height: 40px;
}
/*.category-type .sp-iconfont {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 16px;
    width: 30px;
    font-weight: 700;
}*/
.category-type .classify {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 15px;
    /*margin-left: 8px;*/
   	background: url(../img/public/bar.png) no-repeat 15px center;
    font-weight: 700;
    padding-left: 60px;
}
.nav-con{
	width: 220px;
	height: 0;
}
.normal-nav {
    background-color: #fff;
    width: 220px;
    height: 500px;
    position: relative;
    z-index: 11;
    -webkit-box-shadow: -1px 3px 12px -1px rgba(0,0,0,.3);
    -moz-box-shadow: -1px 3px 12px -1px rgba(0,0,0,.3);
    box-shadow: -1px 3px 12px -1px rgba(0,0,0,.3);
}
.normal-nav li{
    position: relative;
    height: 40.5px;
    line-height: 40.5px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #fff;
}

.normal-nav li a {
	display: inline-block;
	vertical-align: middle;
  	height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 14px;
}
.normal-nav li i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
    margin-right: 13px;
    width: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.normal-nav li em {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 0;
    height: 0;
    border-width: 5px 7px;
    border-color: transparent transparent transparent #fff ;
    border-style: solid;
    opacity: 0;
}
.normal-nav li.selected{
	background: rgba(39,2,2,0.1);
	/*border-bottom: 1px solid #FF0036;*/
	transition: all 0.05s ease-in-out; 
}
.normal-nav li.selected a{
	color: #333;
	transition: all 0.1s ease-in-out; 
}
.normal-nav li.selected a:hover{
	color: #ff0036;
}
.normal-nav li.selected em{
	opacity: 1;
	transition: all 0.1s ease-in-out; 
}

.category-con .content-con {
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    display: none;
    
}
.category-con .content-con.active{
	display: block;
}
.content-con .pannel-con {
    display: none; 
    height: 500px;
    width: 600px;
    left: 220px;
    position: absolute;
    background-color: #f7f7f7;
    -webkit-box-shadow: 2px 0 5px -1px rgba(0,0,0,.3);
    -moz-box-shadow: 2px 0 5px -1px rgba(0,0,0,.3);
    box-shadow: 2px 0 5px -1px rgba(0,0,0,.3);
    -webkit-transition: top .25s ease;
    transition: top .25s ease;
    overflow: hidden;
}
.hot-word-con{
	margin: 15px 30px;
}
.hot-word-line{
	overflow: hidden;
}
.line-title{
	width: 40px;
    color: #666;
    margin-right: 25px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    height: 26px;
    float: left;
}
.title-text{
	display: inline-block;
    width: 40px;
    overflow: hidden;
    /*text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;*/
}
.line-title i {
    display: block;
    position: absolute;
    top: 9px;
    right: -9px;
    width: 0;
    height: 0;
    border-width: 4px 6px;
    border-color: transparent transparent transparent red ;
    border-style: solid;
    opacity: 1;
}
.line-con{
	float: left;
	width: 452px;
}
.line-con a {
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #999;
    float: left;
    margin-right: 20px;
}
.line-con a:hover{
	color: #FC382C;
}
.line-con .seprate {
    margin-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
    border-bottom-color: rgba(0,0,0,.1);
    height: 15px;
    clear: both;
}
.hot-word-line .prd-item{
	float: left;
	width: 130px;
}
.prd-item-line{
	margin-top: 20px;
}

.hot-word-line .prd-item:nth-child(1){
	margin-left: 65px;
}
.hot-word-line .prd-item:nth-child(2){
	margin-left: 30px;
}
.hot-word-line .prd-item:nth-child(3){
	margin-left: 30px;
}
.hot-word-line .prd-item:hover{
	color: #F93424;
}
.hot-word-line .prd-item:hover img{
	opacity: 1;
	transition: all 0.2s;
}
.hot-word-line .prd-item img{
	width: 130px;
	height: 100px;
	margin-top: 10px;
	opacity: 0.8;
}
.prd-item .prd-item-tit{
	text-align: center;
	font-size: 16px;
	height: 28px;
	line-height: 28px;
}
.prd-item .prd-item-price{
	text-align: center;
	font-size: 20px;
	color: #F93424;
	font-weight: bold;
	height: 38px;
	line-height: 38px;
}


/*---底部----*/
.footer {
	width: 100%;
	min-width: 1200px;
}
/*底部内容容器*/
.footer-box {
	width: 1210px;
	height: 100%;
	margin: 0 auto;
}
/*上*/
.foot-up {
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid #E1E1E1;
}
.upbox {
	box-sizing: border-box;
	padding-left: 10px;
	width: 1200px;
	height: 100%;
	padding: 20px 0;
	overflow: hidden;
	margin: 0 auto;
}
.upbox li{
	width: 240px;
	float: left;
}
.up-div {
	padding: 0 30px;
}
.up-img {
  float: left;
  width: 45px;
  height: 58px;
  background: url(../img/public/ico_service.png) no-repeat 0 0;
  background-size: 100%;
  margin-right: 10px;
}
.upbg1 {background-position: 0 3px;}
.upbg2 {background-position: 0 -57px;}
.upbg3 {background-position: 0 -119px;}
.upbg4 {background-position: 0 -179px;}
.upbg5 {background-position: 0 -240px;}

.up-txt {
  float: left;
  line-height: 1.5;
}
.txt-p1 {font-size: 22px;line-height: 34px;/*font-weight: bold;*/ color: #494949;}
.txt-p2 {font-size: 14px;color: #9c9c9c; line-height: 24px;}
.txt-num {font-size: 16px;}

/*中*/
.foot-mid {
  width: 880px;
  height: 185px;
  margin: 0 auto;
}
.foot-mid a {
  color: #666;
}
.foot-mid a:hover {
  color: #D21E2F;
}
.foot-mid dl {
  float: left;
  width: 176px;
  text-align: center;
}
.foot-mid dt {
  padding: 27px 0 20px;
  font-size: 16px;
  color: #333;
}
.foot-mid dd {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 14px;
}
.foot-mid dl.margin-none,
.foot-up div.margin-none {
  margin-right: 0;
}
/*下*/
.foot-down {
  width: 886px;
  margin: 0 auto;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.down-p1 {
	padding: 20px 0;
  line-height: 1.5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.foot-down a {color: #666;}
.foot-down a:hover {color: #D21E2F;}
/*更多*/
.foot-more {
  display: inline-block;
  margin-left: 10px;
}
.down-p2 {margin: 20px 0;}
/*二维码*/
.foot-dd {position: relative;}
.foot-dd img {
  position: absolute;
  top: 8px;
  left: 125px;
  width: 100px;
  height: 100px;
  display: none;
}